$radius-snap-card: 20px;

.face-snap-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: $radius-snap-card;
  width: 40%;
  background: #DFD6A7;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  img {
    max-width: 100%;
    border-top-left-radius: $radius-snap-card;
    border-top-right-radius: $radius-snap-card;
  }
}
