<div class="face-snap-card" [ngClass]="{snapped: txtButton === 'Unsnap 😭 !'}">
  <img [src]="faceSnap.imageURL" [alt]="faceSnap.description"/>
  <h2>{{faceSnap.title | uppercase}}</h2>
  <p>Description : {{faceSnap.description}} </p>
  <p>Date de publication : {{faceSnap.creationDate | date: "dd/MM/yyyy"}}</p>
  <button (click)="onSnapClick()">{{txtButton}}</button>
  <p>👍 Snaps :
    <span [ngStyle]="{color:'rgb(0,' + faceSnap.snaps + ', 0)'}">{{faceSnap.snaps}}</span>
  </p>
  <p *ngIf="faceSnap.location">📍Localisation : {{faceSnap.location}}</p>
</div>
