<div class="faceSnap-container">
  <app-face-snap *ngFor="let faceSnap of faceSnaps" [faceSnap]="faceSnap"></app-face-snap>
  <!-- Pipes de formatages des nombres (exemples) -->
  <h2>Test des pipes par rapport aux nombres :</h2>
  <p>{{43226872.2222 | number}}</p>
  <p>{{78325311.1421 | number: '1.0-2'}}</p>
  <p>{{58682052.1627 | number: '1.0-0'}}</p>

  <h2>Test des pipes par rapport aux pourcentages :</h2>
  <p>{{0.656 | percent}}</p>
  <p>{{0.59221111 | percent: '1.0-2'}}</p>
  <p>{{0.98422 | percent: '1.0-3'}}</p>
  <p>{{0.25 | percent: '1.2-3'}}</p>

  <h2>Test des pipes par rapport aux devises (monétaires) :</h2>
  <p>{{32156 | currency}}</p>
  <p>{{2225 | currency:"€"}}</p>
  <p>{{526725 | currency:"EUR"}}</p>
  <p>{{26243 | currency:"EUR" : 'code'}}</p>
  <p>{{5020122 | currency:"GBP"}}</p>
</div>
